/* 전반적인 스타일 */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e6e9f0, #eef1f5);
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  background: linear-gradient(to right, #414345, #232526);
}

footer {
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 10px;
  text-align: center;
  width: 100vw;
  padding: 1rem 0;
  background: linear-gradient(to right, #414345, #232526);
}


main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.middle{
  text-align: center;
  color: gray;
  margin: 10px;
  font-size: 50px;
  font-family: "East Sea Dokdo", sans-serif;

}

/* 상품 목록 스타일 */
.products {
  flex: 4fr;
  display: grid;
  grid-template-columns: repeat(4, minmax(10vw, 1fr));
  gap: 20px;
  height: auto-fit;
  /* max-height: 30vw; */
}

 .product {
  background: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: auto-fit;
  max-width: 15vw;
  /* max-height: 30vw; */
  transition: transform 0.3s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  
  max-width: 100%;
  height: 20vw;
  display: block;
}

/* 장바구니 스타일 */ 
 .cart {
  flex: 1;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-left: 20px;
} 

.cart-items {
  display: flex;
  list-style-type: none;
  max-width: 30vw;
  padding: 0;
}

/* 버튼 스타일 */

button  {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button.cancel {
  background-color: #f44336;
}

button.cancel:hover {
  background-color: #d32f2f;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.main-button{

  position: relative;
  right: 46vw;  
  background-color: rgba(128, 128, 128, 0.596);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

}